@import 'bootstrap/dist/css/bootstrap';

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
  }

 .green{
   background-color: green;
 }

 .yellow{
  background-color: yellow;
} 

.orange{
  background-color: orange;
} 

.red{
  background-color: red;
} 

.purple{
  background-color: purple;
} 

.magenta{
  background-color: magenta;
}

.silver{
  background-color: silver;
} 